.root{
    -fx-background-image: url("../pics/background.jpg");
    -fx-background-size: cover;
    -fx-alignment: center;
}
.button{
    -fx-alignment: center;

    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-border-radius: 20px 20px 20px 20px ;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 20;
    -fx-text-fill: white;


}
.vbox {
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-spacing: 15px;
}

#exitButton {
    -fx-background-image: url("../pics/corruptedcobblestone.png");
    -fx-shape:"M0 13 C0 5 5 0 13 0 L86 0 C94 0 99 5 99 13 L99 86 C99 94 94 99 86 99 L13 99 C5 99 0 94 0 86Z";
    -fx-background-size: cover;
}

#duelButton {
    -fx-background-image: url("../pics/cobblestone.jpg");
    -fx-shape:"M0 13 C0 5 5 0 13 0 L86 0 C94 0 99 5 99 13 L99 86 C99 94 94 99 86 99 L13 99 C5 99 0 94 0 86Z";
    -fx-background-size: contain;
}

#multiplayerButton {
    -fx-background-image: url("../pics/cobblestone.jpg");
    -fx-shape:"M0 13 C0 5 5 0 13 0 L86 0 C94 0 99 5 99 13 L99 86 C99 94 94 99 86 99 L13 99 C5 99 0 94 0 86Z";
    -fx-background-size: contain;
}

#duelAiButton {
    -fx-background-image: url("../pics/cobblestone.jpg");
    -fx-shape:"M0 13 C0 5 5 0 13 0 L86 0 C94 0 99 5 99 13 L99 86 C99 94 94 99 86 99 L13 99 C5 99 0 94 0 86Z";
    -fx-background-size: contain;
}